<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.dateString}}</td>
    </ng-container>

    <ng-container matColumnDef="Club">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Club</th>
      <td mat-cell *matCellDef="let row">{{row.clubName}}</td>
    </ng-container>

    <ng-container matColumnDef="Stats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stats</th>
      <td mat-cell *matCellDef="let row">{{row.stats}}</td>
    </ng-container>

    <ng-container matColumnDef="GR">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GS</th>
      <td mat-cell *matCellDef="let row">{{row.goalsReceived}}</td>
    </ng-container>

    <ng-container matColumnDef="GS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GR</th>
      <td mat-cell *matCellDef="let row">{{row.goalsScored}}</td>
    </ng-container>

    <ng-container matColumnDef="PTS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PTS</th>
      <td mat-cell *matCellDef="let row">{{row.matchPoints}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="50"
                 [pageSizeOptions]="[1, 5, 10, 15]">
  </mat-paginator>
</div>
