<div class="mat-elevation-z8">
  <nav class="navbar navbar-default" style="background-color: #424242; border-style: hidden;">
    <div class="container-fluid">
      <div class="navbar-header" style="padding-left: 25px;">
        <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
          <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
        </button>
      </div>
      <div class="navbar-collapse" style="margin-top: 12px" [class.collapse]="collapsed"
           (window:resize)="collapsed = true">
        <ul class="nav navbar-nav">
          <li>
            <!--  search bar -->
            <mat-form-field appearance="fill">
              <mat-label>Search</mat-label>
              <input matInput type="text" [(ngModel)]="value" (click)="value=''" >
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </mat-form-field>
            <!--  search bar -->
          </li>
          <li>
            <button mat-raised-button color="primary" style="padding: 7px; margin-top: 3px">Search</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<app-match-table></app-match-table>
