.example-card {
  max-width: 80%;
  margin: 20px auto;
}

.example-header-image {
  background-image: url('/assets/avatar.png');
  background-size: cover;
}

li {
  padding-right: 10px;
}

#title_message {
  text-align: center;
  /*width: 150px;*/
}

ol {
  text-align: center;
}

ol#abb li {
  display:inline-flex;
}
