<div class="mat-elevation-z8">
  <nav class="navbar navbar-default" style="background-color: #424242; border-style: hidden;">
    <div class="container-fluid">
      <div class="navbar-header" style="padding-left: 25px">
        <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
          <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
        </button>
        <a routerLink="/" class="navbar-brand" style="margin-top: 25px; color: white">Sort according to</a>
      </div>
      <div class="navbar-collapse" style="margin-top: 12px" [class.collapse]="collapsed"
           (window:resize)="collapsed = true">
        <ul class="nav navbar-nav">

          <li>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Type</mat-label>
              <mat-select [(value)]="selectedProfileOne">
                <mat-option value="accent" (click)="dropdownOne = !dropdownOne"
                            *ngFor="let option of dropDownOptionsOne" [value]="option">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </li>

          <li>
            <mat-form-field appearance="fill">
              <mat-label>Order</mat-label>
              <mat-select [(value)]="selectedProfileTwo">
                <mat-option value="accent" (click)="dropdownTwo = !dropdownTwo"
                            *ngFor="let option of dropDownOptionsTwo" [value]="option">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </li>

          <li *ngIf="selectedProfileOne || selectedProfileTwo">
            <button mat-raised-button color="primary"
                    style="width: 75px; height: 55px; border-radius: 20px"
                    (click)="onSortAction(selectedProfileOne.value, selectedProfileTwo.value)"
                    [disabled]="!dropdownOne && !dropdownTwo"
            >Go
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">
    <ng-container matColumnDef="clubName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Club</th>
      <td mat-cell *matCellDef="let item">{{item.clubName}}</td>
    </ng-container>

    <ng-container matColumnDef="clubLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let item">{{item.clubLocation}}</td>
    </ng-container>

    <ng-container matColumnDef="numOfMatchesPlayed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MP</th>
      <td mat-cell *matCellDef="let item">{{item.numOfMatchesPlayed}}</td>
    </ng-container>

    <ng-container matColumnDef="seasonWins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>W</th>
      <td mat-cell *matCellDef="let item">{{item.seasonWins}}</td>
    </ng-container>

    <ng-container matColumnDef="seasonDefeats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>L</th>
      <td mat-cell *matCellDef="let item">{{item.seasonDefeats}}</td>
    </ng-container>

    <ng-container matColumnDef="seasonDraws">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>D</th>
      <td mat-cell *matCellDef="let item">{{item.seasonDraws}}</td>
    </ng-container>

    <ng-container matColumnDef="numOfGoalsScored">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GS</th>
      <td mat-cell *matCellDef="let item">{{item.numOfGoalsScored}}</td>
    </ng-container>

    <ng-container matColumnDef="goalsDifference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GD</th>
      <td mat-cell *matCellDef="let item">{{item.goalsDifference}}</td>
    </ng-container>

    <ng-container matColumnDef="numOfPointsGained">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PTS</th>
      <td mat-cell *matCellDef="let item">{{item.numOfPointsGained}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <app-card></app-card>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [pageSize]="25"
                 [pageSizeOptions]="[1, 5, 10, 15]">
  </mat-paginator>

</div>
