<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Abbreviations</mat-card-title>
    <mat-card-subtitle>Premier League 2020/21</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ol id="abb">
      <li>MP - Matches Played</li>
      <li>W - Wins</li>
      <li>L - Loss</li>
      <li>D - Draw</li>
      <li>GS - Goals Scored</li>
      <li>GD - Goals Difference</li>
      <li>PTS - Points</li>
    </ol>
    <mat-divider [inset]="true" style="padding: 10px"></mat-divider>
    <div id="title_message">
      <p>Leaderboard is already sorted to the points and if user triggers the
        sorting function table will sorted in a different way.</p>
    </div>
  </mat-card-content>
</mat-card>
